
@{
    ViewBag.Title = "Home";
}

<h2>Home Page</h2>

@Html.ActionLink("Add Sections", "Index", "Section", new { }, null)
@Html.ActionLink("Add Restrictions", "Index", "Restriction", new { }, null)
@Html.ActionLink("View Schedules", "Index", "Schedule", new { }, null)


