@model FinalProject.Models.Student
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@if (ViewBag.NoUser != null)
{
    <div>
        User not found. Please <a href='#'>Retry</a>
    </div>
}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
    </div>

    <input type="submit" value="login" />

}