@model List<FinalProject.Models.Schedule>
@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Count) Possible Schedules</h2>
@{
    int i = 1;  
}
@foreach (var schedule in Model)
{
    <h3>Schedule @i</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Day/Time</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        </thead>
        <tbody>
        @for (int j = 7; j < 20; j++)
        {
            <tr>
                <td>@(j+1):00</td>
                @for (int k = 1; k < 7; k++)
                {
                    <td>@schedule.ScheduleMatrix[k,j]</td>
                }
            </tr>
        }
        </tbody>
    </table>
    i++;
}

